/* COMMON */
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* BUTTONS */
.btn {
  height: 50px;
  background: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  padding: 0 35px;
  font-size: 110%;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.btn.btn-full {
  margin-right: 20px;
}
.btn.btn-full:hover {
  background-color: #e66e22;
}
.btn.btn-empty {
  background: none;
  color: #e67e22;
}
.btn.btn-empty:hover {
  background-color: #e67e22;
  color: #fff;
}
/* SECTION & INNER */
section {
  margin: 60px 0;
}
.inner {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 250%;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
h2 {
  font-size: 170%;
  text-align: center;
}
h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: 20px;
}
h3 {
  margin: 20px 0px;
  font-size: 120%;
}

/* HEADER */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header .inner {
  height: 100vh;
}
header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}
header .logo a {
  background: url("../img/logo-white.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
  transition: border 0.2s;
}
header .logo a:hover {
  border: 3px solid #e67e22;
  border-radius: 50%;
}
header .header__menu {
  display: flex;
}
header .header__menu li a {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 90%;
  color: #fff;
}
header .header__menu li a:hover {
  border-bottom: 2px solid #e67e22;
  padding-bottom: 10px;
}
header .header__title {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION-FEATURES */
.features__title {
  line-height: 1.5;
}
.features__title p {
  margin: 40px 0;
  width: 70%;
  margin-left: 15%;
}
.features__details {
  display: flex;
}
.detail__contents {
  width: 25%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}
.detail__contents i {
  color: #e67e22;
  font-size: 250%;
}
.detail__contents p {
  font-size: 90%;
  line-height: 1.5;
}

/* SECTION-FEATURES */
.meals-gallery {
  display: flex;
  width: 100%;
}
.meals-gallery li {
  display: block;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
