/* COMMON */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
a {
  text-decoration: none;
}

/* BUTTONS */
.btn,
input[type="submit"] {
  height: 50px;
  background: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 35px;
  font-size: 110%;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.btn.btn-full,
input[type="submit"] {
  margin-right: 20px;
}
.btn.btn-full:hover,
input[type="submit"]:hover {
  background-color: #e66e22;
}
.btn.btn-empty {
  background: none;
  color: #e67e22;
}
.btn.btn-empty:hover {
  background-color: #e67e22;
  color: #fff;
}
/* SECTION & INNER */
section {
  padding: 80px 0;
}
.inner {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1 {
  font-size: 250%;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
}
h2 {
  font-size: 170%;
  text-align: center;
}
h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  margin: 20px 0px;
  font-size: 110%;
}

/* HEADER */
header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("img/hero-min.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/hero-min.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/hero-min.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header .inner {
  height: 100vh;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 130px;
}
header .logo {
  background: url("../img/logo-white.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
}
header .logo-black {
  height: 50px;
  width: 50px;
  margin: 1% 0;
  display: none;
}

/* MAIN MENU */
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu li a {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 90%;
  color: #fff;
}
.header__menu li a:hover {
  border-bottom: 2px solid #e67e22;
  padding-bottom: 10px;
}
.header__title {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
header .arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #e67e22;
  font-size: 30px;
  padding: 5px;
  z-index: 1;
  cursor: pointer;
  border: 3px solid #e67e22;
  border-radius: 50%;
  visibility: hidden;
}
header .arrow.show {
  visibility: visible;
}

/* STICKY MENU */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
  -webkit-animation: fadeIn 0.4s linear;
  animation: fadeIn 0.4s linear;
  height: 8%;
  padding: 5px 10px;
}
.active {
  height: 130px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header__nav.sticky .header__menu {
  margin-top: 1%;
  margin-right: 2%;
}
.header__nav.sticky .header__menu li a {
  margin: 0 20px;
  color: #555;
  font-size: 80%;
}
.header__nav.sticky .header__menu li a:hover {
  color: #e67e22;
  border-bottom: none;
  padding-bottom: 0;
}
.header__nav.sticky .logo {
  display: none;
}
.header__nav.sticky .logo-black {
  display: block;
  margin-left: 2%;
}
.header__nav.sticky #toggle-btn i {
  color: #555;
  top: 27px;
}

/* TOGGLE */
#toggle-btn {
  display: none;
}
#toggle-btn i {
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer;
}
#toggle-btn i:hover {
  color: #e67e22;
}

/* SECTION-FEATURES */
.features__title {
  line-height: 1.5;
}
.features__title p {
  margin: 40px 0;
  width: 70%;
  margin-left: 15%;
}
.features__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: fadeIn 1.5s;
}
.detail__contents {
  width: 25%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.detail__contents i {
  color: #e67e22;
  font-size: 200%;
}
.detail__contents p {
  font-size: 90%;
  line-height: 1.5;
}

/* SECTION-MEALS */
.section--meals {
  padding: 0;
}
.meals-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.meals-gallery li {
  width: 25%;
}
.meal-photo {
  width: 100%;
  overflow: hidden;
}
.meal-photo img {
  display: block;
  opacity: 0.7;
  width: 100%;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.meal-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* SECTION-WORKS */
.section--works {
  background: #f4f4f4;
}
.works__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}
.contents__img,
.contents__steps {
  width: 50%;
}
.contents__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.contents__img img {
  width: 40%;
  height: 100%;
  margin-right: 30px;
  animation: bounceInLeft 1s;
}
.contents__steps {
  margin: 50px 30px 0px 30px;
}
.contents__steps .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
.contents__steps .steps div {
  width: 50px;
  height: 50px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  color: #e67e22;
  font-size: 150%;
  text-align: center;
  padding: 5px 0;
}
.contents__steps .steps p {
  width: 80%;
  margin-left: 5%;
  line-height: 1.5;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  margin-top: 40px;
}

/* SECTION-CITIES */
.cities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 10px;
  animation: zoomIn 1s;
}
.cities__list li {
  margin-right: 15px;
}
.cities__list li:last-child {
  margin-right: 0;
}
.cities__list li img {
  width: 100%;
}
.cities__list li .cities__feature {
  margin-bottom: 15px;
}
.cities__list li i {
  color: #e67e22;
  width: 30px;
}
.cities__list li a {
  color: #e67e22;
}

/* SECTION-REVIEWS */
.section--reviews {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.75))
    ),
    url("img/back-customers-min.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/back-customers-min.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/back-customers-min.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 10px;
}
.reviews__list blockquote {
  font-style: italic;
  line-height: 1.5;
  position: relative;
  padding: 2%;
}
.reviews__list blockquote::before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -47px;
  left: -7px;
}
.reviews__list cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;
}
.reviews__list cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* SECTION-PLANS */
.section--plans {
  background: #f4f4f4;
}
.section--plans .plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 40px 0;
}
.section--plans .plan-box {
  background: #fff;
  width: 330px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px #efefef;
  box-shadow: 0 3px 5px #efefef;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
}
.plan-box .plan-price {
  font-size: 280%;
  color: #e67e22;
  font-weight: 100;
  margin-bottom: 20px;
}
.plan-price span {
  font-size: 40%;
  font-weight: 300;
}
.plan-box ul li {
  margin-bottom: 15px;
}
.plan-box ul li i {
  margin-right: 15px;
  font-size: 80%;
  color: #e67e22;
}

/* SECTION-FORM */
.section--form .form-box {
  margin: 40px 0;
}
.form-box div {
  width: 70%;
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  font-size: 90%;
}
.form-box .input-title,
.form-box .input,
.form-box .check {
  margin-left: 0;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 90%;
}
textarea {
  height: 100px;
  resize: none;
}
.form-box > .form > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}
*:focus {
  outline: none;
}

/* FOOTER */
footer {
  background-color: #333;
  padding: 40px 50px;
  font-size: 80%;
}
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-nav ul li {
  margin-left: 10px;
}
.footer-nav ul li a {
  color: #888;
}
.footer-nav ul li a i {
  font-size: 130%;
}
.footer-nav ul li a:hover {
  text-decoration: underline;
}
.footer-nav ul li a i:hover {
  color: #e67e22;
}

/* ANIMATIONS */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
