/* COMMON */
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* BUTTONS */
.btn,
input[type="submit"] {
  height: 50px;
  background: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  padding: 0 35px;
  font-size: 110%;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.btn.btn-full,
input[type="submit"] {
  margin-right: 20px;
}
.btn.btn-full:hover,
input[type="submit"]:hover {
  background-color: #e66e22;
}
.btn.btn-empty {
  background: none;
  color: #e67e22;
}
.btn.btn-empty:hover {
  background-color: #e67e22;
  color: #fff;
}
/* SECTION & INNER */
section {
  padding: 80px 0;
}
.inner {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1 {
  font-size: 250%;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
}
h2 {
  font-size: 170%;
  text-align: center;
}
h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  margin: 20px 0px;
  font-size: 120%;
}

/* HEADER */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header .inner {
  height: 100vh;
}
header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}
header .logo a {
  background: url("../img/logo-white.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
  transition: border 0.2s;
}
header .logo a:hover {
  border: 3px solid #e67e22;
  border-radius: 50%;
}
header .header__menu {
  display: flex;
}
header .header__menu li a {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 90%;
  color: #fff;
}
header .header__menu li a:hover {
  border-bottom: 2px solid #e67e22;
  padding-bottom: 10px;
}
header .header__title {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION-FEATURES */
.features__title {
  line-height: 1.5;
}
.features__title p {
  margin: 40px 0;
  width: 70%;
  margin-left: 15%;
}
.features__details {
  display: flex;
}
.detail__contents {
  width: 25%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}
.detail__contents i {
  color: #e67e22;
  font-size: 250%;
}
.detail__contents p {
  font-size: 90%;
  line-height: 1.5;
}

/* SECTION-MEALS */
.section--meals {
  padding: 0;
}
.meals-gallery {
  display: flex;
  width: 100%;
}
.meals-gallery li {
  display: block;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* SECTION-WORKS */
.section--works {
  background: #f4f4f4;
}
.works__contents {
  display: flex;
  margin: 40px 0;
}
.contents__img,
.contents__steps {
  width: 50%;
}
.contents__img {
  display: flex;
  justify-content: flex-end;
}
.contents__img img {
  width: 40%;
  margin-right: 30px;
}
.contents__steps {
  margin: 50px 30px 0px 30px;
}
.contents__steps .steps {
  display: flex;
  padding-bottom: 30px;
}
.contents__steps .steps div {
  width: 50px;
  height: 50px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  color: #e67e22;
  font-size: 150%;
  text-align: center;
  padding: 5px 0;
}
.contents__steps .steps p {
  width: 80%;
  margin-left: 25px;
  line-height: 1.5;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  margin-top: 40px;
}

/* SECTION-CITIES */
.cities__list {
  display: flex;
  margin: 40px 10px;
}
.cities__list li {
  margin-right: 15px;
}
.cities__list li:last-child {
  margin-right: 0;
}
.cities__list li img {
  width: 100%;
}
.cities__list li .cities__feature {
  margin-bottom: 15px;
}
.cities__list li i {
  color: #e67e22;
  width: 30px;
}
.cities__list li a {
  color: #e67e22;
}

/* SECTION-REVIEWS */
.section--reviews {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/back-customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.reviews__list {
  display: flex;
  margin: 60px 10px;
}
.reviews__list blockquote {
  font-style: italic;
  line-height: 1.5;
  position: relative;
  padding: 2%;
}
.reviews__list blockquote::before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -47px;
  left: -7px;
}
.reviews__list cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;
}
.reviews__list cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* SECTION-PLANS */
.section--plans {
  background: #f4f4f4;
}
.section--plans .plans {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
.section--plans .plan-box {
  background: #fff;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 3px 5px #efefef;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
}
.plan-box .plan-price {
  font-size: 270%;
  color: #e67e22;
  margin-bottom: 20px;
}
.plan-box ul li {
  margin-bottom: 15px;
}
.plan-box ul li i {
  margin-right: 15px;
  font-size: 80%;
  color: #e67e22;
}

/* SECTION-FORM */
.section--form .form-box {
  margin: 40px 0;
}
.form-box div {
  width: 50%;
  margin-left: 25%;
  display: flex;
  margin-bottom: 10px;
  font-size: 90%;
}
.form-box .input-title,
.form-box .input,
.form-box .check {
  margin-left: 0;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 90%;
}
textarea {
  height: 100px;
}
.form-box > .form > div:last-child {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
*:focus {
  outline: none;
}

/* FOOTER */
footer {
  background-color: #333;
  padding: 40px 50px;
  font-size: 80%;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.footer-nav ul {
  display: flex;
}
.footer-nav ul li {
  margin-left: 10px;
}
.footer-nav ul li a {
  color: #888;
}
.footer-nav ul li a i {
  font-size: 130%;
}
.footer-nav ul li a:hover {
  text-decoration: underline;
}
