@media only screen and (max-width: 1200px) {
  header .header__title {
    width: 100%;
    padding: 0 2%;
  }
  .inner {
    padding: 0 2%;
  }
}

@media (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 70px 0;
  }
  header.section .inner {
    max-width: none;
  }
  .section--features .features__title p {
    width: 80%;
    margin-left: 10%;
  }
  .contents__img img {
    width: 50%;
  }
  .section--plans .plan-box {
    width: 300px;
  }
  .plan-box .plan-price {
    font-size: 250%;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  header .header__title,
  .inner {
    width: 100%;
  }
  header .header__nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  header .header__menu {
    margin-top: 7%;
    margin-left: 3%;
  }
  header .header__menu li {
    margin-bottom: 15px;
  }
  header .header__menu li a:hover {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 1px;
  }
  header .arrow {
    font-size: 18px;
  }
  .header__nav .toggle {
    display: none;
  }
  .toggle.on {
    display: block;
  }
  #toggle-btn {
    display: block;
  }
  .contents__img img {
    width: 40%;
  }
  .works__contents,
  .cities__list,
  .reviews__list,
  .section--plans .plans {
    display: block;
  }
  .contents__img,
  .contents__steps {
    width: 100%;
  }
  .contents__img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contents__steps .steps div {
    width: 40px;
    height: 40px;
    padding: 5px 0;
  }
  .btn-app img {
    margin-top: 10px;
    height: 30px;
  }
  .reviews__list blockquote {
    margin-top: 40px;
  }
  .section--plans .plan-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 501px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 25px 0;
  }
  header .logo {
    width: 55px;
    height: 55px;
  }
  .btn,
  input[type="submit"] {
    height: 40px;
    padding: 0 25px;
  }
  .btn.btn-full,
  input[type="submit"] {
    margin-right: 10px;
  }
  .features__details {
    display: block;
  }
  .detail__contents {
    width: 100%;
    margin-top: 5%;
  }
  .contents__steps .steps div {
    width: 30px;
    height: 30px;
    font-size: 90%;
    padding: 7px 0;
  }
  .contents__steps .steps p {
    width: 75%;
  }
  .btn-app img {
    height: 20px;
  }
  .contact-form {
    width: 100%;
  }
  footer {
    font-size: 60%;
  }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-nav ul {
    margin-bottom: 10px;
  }
  .footer-nav ul li {
    margin-left: 5px;
  }
}
