@media (max-width: 1024px) {
  header.section .inner {
    max-width: none;
    padding: 0 20px;
  }
  header .header__nav {
    justify-content: flex-start;
  }
  header .logo a {
    width: 90px;
    height: 90px;
    display: inline-block;
    padding: 20px;
  }
  header .header__menu {
    flex-direction: column;
    margin-top: 70px;
    margin-left: 20px;
  }
  header .header__menu li {
    margin-bottom: 15px;
  }

  header .header__menu li a:hover {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 1px;
  }
  header .toggle {
    display: none;
  }
  header .toggle.on {
    display: block;
  }
  #toggle-btn {
    display: block;
  }
}
